[

    %% EXAMPLE CONFIGURATION

 {edc, [
    {log_debug, false},
    {startup_clients, [
        {client, [
            {type, tcpv4},
            {num_sockets, 10}, % Size
            {connect_opts, [
                {port, 8800},
                {host, "localhost"}
            ]},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
    ]}
 ]}
].

