[

    %% EXAMPLE CONFIGURATION

 {edc, [
    {log_debug, false},

    {protocol_bridges,[
    ]},

    {startup_clients, [
        {example_tcpv4_client_1, [
            {type, tcpv4},
            {num_sockets, 1}, % Size
            {connect_opts, [
                {port, 8800},
                {host, "localhost"}
            ]},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]},
        {example_udpv4_client_1, [
            {type, udpv4},
            {num_sockets, 10},
            {connect_opts, [
                {port, 8801},
                {host, "localhost"}
            ]},
            {socket_opts, [
                {active, 2}
                % mmm we need {ip, TUPLE} here, but have host above.
                % write NTOA func in udp handler
            ]}
        ]},
        {example_udpv4_out_2, [
            {type, udpv4},
            {num_sockets, 10},
            {connect_opts, [
                {port, 8801},
                {host, "localhost"}
            ]},
            {socket_opts, [
                {active, 2}
                % mmm we need {ip, TUPLE} here, but have host above.
                % write NTOA func in udp handler
            ]}
        ]}
    ]}
 ]}
].
